.App {
  background-color: rgb(20,20,20);
  width: 100vw;
  height:100vh;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;

}

.profile-background{
  background-color:rgb(31,31,31);
  max-width: 330px;
  height: 510px;
  border-radius: 15px;
  padding: 50px;
}

.pics{
  display:flex;
  justify-content: center;
  padding-bottom:20px 
}

.profile-pics{
  max-height:80px;
  width: 80px;
  border-radius: 50%;
}

.profile-name{
  font-size: 20px;
  font-weight: 750;
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(212,212,212);
  padding-bottom:5px ;
  text-align: center;
}

.profile-location{
  font-size: 15px;
  font-weight: 750;
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(145, 171, 33);
  padding-bottom:25px ;
  text-align: center;
}

.profile-career{
  font-size: 13px;
  font-weight: 700;
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(236, 236, 236);
  padding-bottom:20px ;
  text-align: center;
}


a{
text-decoration: none;
font-style: bold;
color:rgb(236, 236, 236);
background-color: rgb(51,51,51);
border-radius:7px;
display:flex;
padding:15px;
margin-bottom: 15px;
display: block;
text-align: center;
font-weight: 700;
min-width: 310px ;

}
a:hover{
  color:rgb(232, 201, 201);
background-color: rgb(35, 27, 27);
}

